/* font  */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.ftr-font{
    font-family: 'Manrope', sans-serif;
}

.head-text{

    color: tomato;
}

.image-fix{
    width: 250px;
}

.button-color{
    /* background-color: rgba(49, 49, 185, 0.459); */
    font-family: 'Manrope', sans-serif;
}
.wrong {
    display: none;

}